.about-section {
  max-width: 2000px;
  margin: 20px auto;
  padding: 24px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.about-section,
.about-section1,
h2 {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 16px;
  color: #333;
}

.about-section p {
  font-size: 20px;
  line-height: 1.8;
  color: #555;
}
